<html>
    <head>
        <title>Post de <%=author%>-Post de solo Lectura :D </title>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <h1 class="page-title">Post de Solo Lectura</h1>
        <section class="author-posts posts">
            <h2 class="author-posts-title posts-title">Post de <i><%=author%></i></h2>
            <div class="post-list">
                <% for post in posts %>
                <article class="post-list-item">
                         <h3><a href="/posts/<%=post.id%>"><%=post.title%></a></h3>
                    <p class="description-summary">
                        <%=post.description_summary%> <a href="/posts/<%=post.id%>">Ver mas</a>
                    </p>
                     <div class="tags">
                        <b>Tags:</b> <ul class="tags-list">
                            <% for tag in post.tags %>
                            <li class="tag" ><a href="/tag/<%=tag%>"><%=tag %></a></li>
                            <% end %>
                        </ul>
                    </div>
                </article>
                <% end %>
            </div>
        </section>

    </body>

</html>
